[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vrEmu6502"]
	path = vrEmu6502
	url = https://github.com/visrealm/vrEmu6502.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
